<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>player</title>
  <link rel="stylesheet" href="file:///C:/dw/project/smartedu/src/main/resources/static/css/player.css" th:href="@{/css/player.css}" />
</head>

<body>
  <main class="player-wrap">


    <section class="player-main">
      <video id="playerVideo" controls playsinline>
        <source id="playerSource" src="" type="video/mp4">
        브라우저가 video 태그를 지원하지 않습니다.
      </video>
    </section>
  </main>
  <script src="file:///C:/dw/project/smartedu/src/main/resources/static/js/player.js" th:href="@{/js/player.js}"></script>
</body>

</html> 